@use '../../../global.scss';
.header{
    width: 100%;
    height: 3.5rem;
    background-color: global.$color-blue;
    color: global.$color-white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0px;

    & i{
        font-size: 2rem;
    }
}